body{
    font-family: '微软雅黑';
}
#main-div{
    position: relative;
    border-radius: 10px;
    border:1px solid #DDDDDD;
    width: 90%;
    /*height:85%;*/
    margin-top:2%;
    left:5%;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}
.content-div{
    position: relative;
    width: 60%;
    /*height: 20%;*/
    left:100px;
    background: rgba(0, 0, 255, 0.36);
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 3%;
    padding: 2%;
    color:white;
}
.triangle-div{
    position: relative;
    left: 70px;
    border: 15px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 255, 0.36) transparent transparent;
    float: left;
    margin-top:2%;
}
.content-right-div{
    position: relative;
    width: 60%;
    /*height: 20%;*/
    left:32%;
    background: #DDDDDD;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 3%;
    padding: 2%;
    color:rgba(0, 0, 255, 0.36);
}
.triangle-right-div{
    position: relative;
    left:103.2%;
    border: 15px;
    border-style: solid;
    border-color: transparent transparent transparent #DDDDDD;
    float: left;
    margin-top: -2%;
}
#review-ueditor{
    position: relative;
    margin-top:2%;
    left: 5%;
    width: 90%;
}
#editor{
    height: 25%;
}
#leave-message{
    position: relative;
    width: 8%;
    height: 5%;
    margin-top:8%;
    left:90%;
    border-radius: 10px;
    background: #DDDDDD;
    text-align: center;
    padding-top: 1%;
    margin-bottom: 3%;
    cursor: pointer;
    transition: background-color .5s ease;
}
#leave-message:hover{
    background-color: #bbbbbb;
}
.head-pic-div{
    position: relative;
    float: left;
    padding-top: 1%;
    padding-left: 1%;
    margin-top:2%;
}
.head-pic{
    border-radius: 100px;
    cursor:pointer;
}
.head-nickName-div{
    position: relative;
    padding-top: 1.5%;
    left: 2%;
    line-height: 150%;
    margin-top:5%;
}

.head-pic-right-div{
    position: relative;
    float: right;
    padding-top: 1%;
    padding-right: 1%;
    margin-top:2%;
    cursor: pointer;
}
.head-nickName-right-div{
    position: relative;
    padding-top: 3%;
    left:82%;
    line-height: 150%;
    margin-top:5%;
}