<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.tanghaibin.dao.recall.DynamicMapper">
	<resultMap type="top.tanghaibin.recall.entity.Dynamic" id="dynamicResultMap">
  	   <id column="d_id" property="id" />
  	   <result column="d_content" property="content" />
  	   <result column="d_commendCount" property="commendCount" />
  	   <result column="d_createDate" property="createDate" />
	</resultMap>
</mapper>