body{
    background: url('/image/about-background.jpg') 80% 50%;
    font-family: '微软雅黑';
}
#about-content-div{
    position: relative;
    width: 55%;
    height: 85%;
    left: 5%;
    top: 5%;
    border-radius: 10px;
    border: 3px dashed #DDDDDD;
    background-color: white;
    opacity:0.9;
    color: blue;
    float:left;
    overflow: hidden;
}
#info{
    position: relative;
    width: 30%;
    height: 85%;
    right: 5%;
    top: 5%;
    border-radius: 10px;
    border: 3px dashed #DDDDDD;
    background-color: white;
    padding: 2%;
    opacity:0.9;
    color: blue;
    float:right;
    overflow: hidden;
}
#item-info{
    position: relative;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
    border-bottom-width: 1px;
    /*top:50%;*/
    width: 100%;
    overflow: hidden;
}
#introduce-title{
    position: relative;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
    border-bottom-width: 1px;
    margin-top:2%;
    width: 100%;
    font-size: 28px;
    text-align: center;
    padding-bottom: 4%;
}
#introduce-content{
    position: relative;
    top:3%;
    padding: 2%;
}
#introduce-content p{
    line-height: 190%;
}
#allmap{
    position: relative;
    width: 100%;
    height:58%;
    border:1px solid #DDDDDD;
    border-radius: 5px;
    overflow: hidden;
    margin-top:3%;
    opacity: 1;
}
#item-info p{
    line-height: 100%;
}