#logo-div{
    margin-left: 30%;
    width: 5%;
    height: 10px;
}
#top-div{
    width: 99.8%;
    height:50px;
    background: url('/image/102976_menu_bg.png');
    position: relative;
    left: 1px;
}
#top-div div{
    position: relative;
    float: left;
    width: 5%;
    height: 40px;
    text-align: center;
    padding-left: 8px;
    padding-top: 8px;
    margin-left: 3%;
    margin-top: 0.5%;
    transition:background-color .5s ease-in;
    cursor: pointer;
    border-radius: 8px;
}
#top-div div:hover{
    background-color: #BFAB86;
}
#top-div div a{
    text-decoration: none;
    color: white;
}
#login-div-a{
    position: relative;
    left: 15%;
}
#regist-div-a{
    position: relative;
    left: 12%;
}