*{
    margin:0;
    padding: 0;
    font-family: '微软雅黑';
    font-size: 15px;
}


#logo-div{
    margin-left: 30%;
    width: 5%;
    height: 10px;
}
#top-div{
    width: 100%;
    height:50px;
    background: #C9D5C2;
    position: relative;
}
#top-div div{
    position: relative;
    float: left;
    width: 5%;
    height: 70%;
    text-align: center;
    margin-left: 3%;
    margin-top: 0.2%;
    text-align: center;
    padding-top: 0.6%;
    transition:background-color .5s ease-in;
    cursor: pointer;
    border-radius: 8px;
}
#top-div div:hover{
    background-color: #a0ac99;
}
#top-div div a{
    text-decoration: none;
    color: white;
    font-family: '微软雅黑';
    position: relative;
}
#login-div-a{
    position: relative;
    left: 15%;
}
#regist-div-a{
    position: relative;
    left: 12%;
}