#segmentation-div{
    position: relative;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-top-color: #DDDDDD;
    border-bottom-color: #DDDDDD;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#review-content-div{
    position: relative;
    width: 100%;
    /*padding-top:2%;*/
    /*border: 1px solid red;*/
}
.review-content-item-div{
    position: relative;
    width: 90%;
    left: 2%;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    top: -10%;
}

.head-pic-div{
    position: relative;
    float: left;
    padding-top: 1%;
    padding-left: 1%;
}
.head-pic{
    border-radius: 100px;
    cursor:pointer;
}
.head-nickName-div{
    position: relative;
    padding-top: 1.5%;
    left: 2%;
    line-height: 150%;
}
.review-specific-content-div{
    position: relative;
    border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: #DDDDDD;
    width: 99%;
    top:5%;
    left: 1%;
    padding-left: 2%;
    padding-right: 2%;
}
.review-content-child-item-div{
    position: relative;
    width: 90%;
    left: 5%;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    top: 3%;
}